* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #222;
}

.logo {
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #00bcd4;
}